﻿body {
    font-family:'Times New Roman', Times, serif;
}
.title_div {
    margin-top:10px;
    background-color: #a54f50;
    width: 250px;
    height:60px;
    text-align:center;
    border-radius:4px;
    
}
    .title_div > h1 {
        color: white;
        font-size: 3em;
        margin:auto
    }
h4{
    left:1000px;
    font-size:12px;
}
#edit_btn{
    background-color:limegreen;
    position:relative;
    float:right;
}
#edit_btn >a{
    text-decoration:none;
    color:white;
}
#content_div{
    border:solid;
    margin-top:10px;
}
/***************DATAGRID***********/

.tablerow {
    transition: background 100ms;
    text-decoration:none;
}
.tablerow:hover {
        background: #fff176 !important;
}

#search_div{
    float:right;
}
footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    text-align:
}
.button {
    display: block;
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}