﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="FinalProject_N01293906._Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">

    <div class="jumbotron">
        <h1>DAILY BLOG</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, Bootstrap and JavaScript.</p>
        <p><a href="Pages.aspx" class="btn btn-primary btn-lg" title="click to view all pages">All Pages &raquo;</a></p>
    </div>

</asp:Content>
